.AppMap {
  text-align: center;
}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  height: 300px;
  width: 600px;
}

.meteoDesc {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.meteoDesc p {
  padding: 5px;
}

.meteoInfo {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;
}

.meteoInfo p {
  padding: 5px;
}
