.bgDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;

  background-color: rgb(228, 228, 228);
}

#mapDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 250px;

  background-color: rgb(255, 255, 255);
  border-top: 3px solid #ce0033;
}

#mapDetails h2 {
  text-align: center;
}
